html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(235, 230, 230);
}

* {
  box-sizing: border-box;
}

select {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 0.3rem 0.3rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  outline: none;
}

button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: lightgrey;
}

.icon {
  cursor: pointer;
}

.icon::before {
  margin-right: 0.5rem;
}

.icon:hover {
  color: red;
}

.menuTitle {
  margin-top: 2rem;
}

.menu {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  background-color: white;
  padding: 0.5rem;
  width: 80%;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.menu button {
  margin: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .menuResponsive {
    flex-direction: column;
  }

  .containerResponsive {
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 767px) {
  .containerResponsive {
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    max-width: 30rem;
    width: 80%;
    padding: 1rem;
  }
}
